#text_box {
  width: 700px;
  height: 600px;
}

#a1 {
  width: 150x;
}
#a2 {
  width: 150x;
}
#a3 {
  width: 150x;
}
#totalA {
  width: 80px;
}

#click {
  width: 100px;
}

#answer1 {
  width: 350px;
}
#answer2 {
  width: 350px;
}
#answer3 {
  width: 350px;
}